<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Курсач.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <Курсач.Properties.Settings>
      <setting name="Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Se_name" serializeAs="String">
        <value />
      </setting>
      <setting name="Father_name" serializeAs="String">
        <value />
      </setting>
      <setting name="Sex" serializeAs="String">
        <value />
      </setting>
      <setting name="City" serializeAs="String">
        <value />
      </setting>
      <setting name="Weight" serializeAs="String">
        <value />
      </setting>
      <setting name="Age" serializeAs="String">
        <value />
      </setting>
      <setting name="Growth" serializeAs="String">
        <value />
      </setting>
      <setting name="Recomendation" serializeAs="String">
        <value />
      </setting>
      <setting name="LoadEvents" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoadAlarms" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoadTasks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoadSport" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllSport" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoadNamesSport" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoadSettings" serializeAs="String">
        <value>False</value>
      </setting>
    </Курсач.Properties.Settings>
  </userSettings>
</configuration>