@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Пользователи</title>
</head>
<body>
    @Html.ActionLink("Войти в почту", "Index", "MessageClient")
    @Html.ActionLink("Войти в чат", "Index", "Chat")
</body>
</html>